html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.product-scroll {
    scroll-behavior: smooth;
}

    .product-scroll::-webkit-scrollbar {
        height: 8px;
    }

    .product-scroll::-webkit-scrollbar-thumb {
        background: #bbb;
        border-radius: 10px;
    }
.form-floating > label {
    color: #555 !important;
}

.form-control:focus {
    box-shadow: 0 0 0 .15rem rgba(0,0,0,0.3);
    border-color: #000;
}
.add-btn {
    margin-top: 10px;
}
